@require "libs";

// Allow floated buttons in panel headers
.panel-title {
  @extend .clearfix;

  > span {
    display: inline-block;
    vertical-align: sub;
  }
}

body { padding-top: 70px; }

.form-control[readonly] {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}
